<div class="header">
    <div class="logo-container">
      <i  class="ri-menu-2-line ri-xl"></i>
      <div class="logo">
        <div class="logo-img">
          <img src="/images/Logo.svg" alt="Tizo Africa Logo">
      </div>
      <h3 id="logo-txt">Tizo Africa</h3>
     </div>
    </div>
    <div class="search-container">
      <form action="">
        <input type="text" placeholder="Search">
      </form>
      <button class="search">
        <i class="ri-search-line "></i>
      </button>
      <button class="mic">
        <i class="ri-mic-2-fill "></i>
      </button>
    </div>
    <div class="profile-container">
      <i class="ri-video-add-line"></i>
      <i class="ri-grid-fill"></i>
      <i class="ri-notification-4-line"></i>
      <div class="profile-box">
        <img src="/images/tee.png" alt="">
      </div>
      
    </div>
    
  </div>