<div class="sidebar">
    <div class="sidebar-items">
      <a href="" class="sidebar-item">
        <i class="ri-home-6-line"></i>
        Home
      </a>
      <a href="" class="sidebar-item">
        <i class="ri-history-fill"></i>
        Watch history
      </a>
      <a href="" class="sidebar-item">
        <i class="ri-rss-fill"></i>
        Subscribed
      </a>
      <a href="" class="sidebar-item">
        <i class="ri-dashboard-2-line"></i>
        Dashboard
      </a>
  
      <hr>
      <a href="" class="sidebar-item">
        <i class="ri-play-list-add-line"></i>
        Playlist
      </a>
      <hr> 
      <a href="" class="sidebar-item">
        <i class="ri-user-settings-line"></i>
        Settings
      </a>
      <a href="" class="sidebar-item">
        <i class="ri-alarm-warning-line"></i>
        Report
      </a>
      <a href="" class="sidebar-item">
        <i class="ri-question-line"></i>
        Help
      </a>
       <a href="" class="sidebar-item">
        <i class="ri-feedback-line"></i>
        Feedback
      </a>
    </div>
  </div>