<%- include('partials/header') %> 

<main>
    <header class="py-5">
<%- include('partials/navbar') %>

        <header class="container-fluid px-5 py-5 bg-img" >
            <div class="row justify-content-center text-white ">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5 ">
                        <h1 class="fw-bolder mb-3">Our mission is to improve the teaching & learning experience for Teachers and Students</h1>
                        <p class="lead fw-normal text-muted mb-4">At Tizo Africa , we believe in the power of education and its ability to transform lives. We are a team of education enthusiasts, tech experts, and design specialists who have come together to create an innovative solution for learners in Ghana and Africa. Our mission is to provide an accessible and effective learning platform that can help individuals achieve their full potential</p>
                        <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                    </div>
                </div>
            </div>
        </header>
    </header>
    <!-- About section one-->
    <section class="py-5 bg-light" id="scroll-target">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/images/founding-office.png" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Our founding</h2>
                    <p class="lead fw-normal  mb-0">We were founded by Mr. Nana Osei (insert more information)</p>
                </div>
            </div>
        </div>
    </section>
    <!-- About section two-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/images/growth.png" alt="..." /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Growth &amp; beyond</h2>
                    <p class="lead fw-normal  mb-0">We want to impact Africa and make sure the quality of effective teaching and learning can be promoted and accepted.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Team members section-->
    <section class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="fw-bolder">Our team</h2>
                <p class="lead fw-normal mb-5">Dedicated to quality and your success</p>
            </div>
            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="/images/nana.png" alt="..." />
                        <h5 class="fw-bolder">Nana Osei</h5>
                        <div class="fst-italic ">Founder &amp; CEO</div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="/images/tee.png" alt="..." />
                        <h5 class="fw-bolder">Telvin Varfley</h5>
                        <div class="fst-italic ">Lead Developer & Project Manager</div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-sm-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="/images/jackson.png" alt="..." />
                        <h5 class="fw-bolder">Jackson</h5>
                        <div class="fst-italic ">Operations Manager</div>
                    </div>
                </div>
                <!-- <div class="col mb-5">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                        <h5 class="fw-bolder">Malvina Cilla</h5>
                        <div class="fst-italic text-muted">CTO</div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</main>
<%- include('partials/footer') %>
