<%- include('partials/header' , {title :'Tizo Africa |Blog'}) %>
<%- include('partials/navbar') %>
<header class="masthead" style="background-image: url('/images/Picture1.png')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Weather (Basic 1)</h1>
                    <h2 class="subheading">How does the weather affect us.</h2>
                    <span class="meta">
                        Posted by
                        Telvin Varfley
                        on August 17, 2023
                    </span>
                   <h5><span class="badge bg-primary">New</span>  </h5> 
                   <h5><span class="badge bg-primary">Science</span>  </h5> 

                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="section-heading">What is weather and its types?</h2>
                <p>It is what the sky and the air outside are like. Such as cold or cloudy. There are six types of weather: <br>
                    i. Sunny: Sunny days are usually pleasant as most people like doing activities outdoor.</p>
                    <a href="#!"><img class="img-fluid" src="/images/sunny.png" alt="..." />
                        <span class="caption text-muted">Here we can see children having fun in the sunny weather</span>
                    </a>

                    <br> <br>
                    <p>
                        ii.Cloudy: This is when the clouds cover the sunlight.
                        <a href="#!"><img class="img-fluid" src="/images/cloudy.png" alt="..." /></a><span class="caption text-muted">Here we can see children having fun in the sunny weather</span></p>

                        <p>
                            iii.Rainy: Rain is droplets of water that fall from the clouds.
                            <a href="#!"><img class="img-fluid" src="/images/rainy.png" alt="..." /></a>
                        </p>
                        <p>
                            iv.Windy: This is when air moves quickly enough for you to feel it on your face.
                            <a href="#!"><img class="img-fluid" src="/images/windy.png" alt="..." /></a>
                        </p>
                        <p>
                            v.Stormy: This is when there is a strong wind, lightning, thunder and heavy rain.
                            <a href="#!"><img class="img-fluid" src="/images/stormy.png" alt="..." /></a>
                        </p>

                        <p>
                            vi.Snowy: When the air is cold, water droplets in the clouds freeze into ice crystals.
                            <a href="#!"><img class="img-fluid" src="/images/snowy.png" alt="..." /></a>
                        </p>
                    <!-- Another section -->
                    
                <h2 class="section-heading">Conclusion </h2>
                <p>Here we can understand that these different weathers call for different measures of action.For example if it is rainy you need an umbrella etc.
                    <br>
                    Thank you for reading.
                </p>
                <!-- <a href="#!"><img class="img-fluid" src="/images/post-sample-image.jpg" alt="..." /></a>
                <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>
                <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>
                <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore, and this is exploration at its greatest.</p> -->
               
            </div>
        </div>
    </div>
</article>

<%- include('partials/footer') %>