 <%- include('partials/header', {title :'Tizo Africa | Log In'}) %> 

<section class="form" >
    <div id="container">
        <div class="user signInBox">
            <div class="imgBox">
                <div class="txtbox p-5 text-center">
                    <h1>Start your education 
                        Journey with us</h1>
                        <p>Making learning more interactive and fun for our kids.</p>
                </div>
                <div class="imgnow">
                    <img class="pattern" src="/images/patterns2.png" alt="Random image">
                </div>
                
            </div>
            <div class="formBx">
                <form action="/api/auth/signin" method="POST">
                    <h2 class = "l-200">Log in </h2>
                    <p class="signup"> Don't have an account? <a href="/api/auth/signup" class="swap">Sign Up</a> here </p>
                    <input type="text" name="email" placeholder="Email" required >
                    <input type="password" name="password" placeholder="Password" required >
                    <input type="submit" >
                
                </form>
                </div>
        </div>
        
    </div>
</section>


